<!DOCTYPE html>
<html lang="zh-Hans">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <title>
        IAAP | 注册
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    {% load static %}
    <link href="{% static 'css/vendors.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="{% static 'assets/demo/default/media/img/logo/favicon.ico' %}" />
    <style>
        #logo_text:hover {
            text-decoration: none
        }

        #logo_text {
            font-family: 'Exo 2', sans-serif;
            color: rgb(37, 37, 37);
            font-size: xx-large;
            font-style: italic;
        }
    </style>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login"
            style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#" id="logo_text">
                            IAAP
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                注册用户
                            </h3>
                        </div>
                        {% if state %}
                        <div class="col-md-2 col-md-offset-5" style="margin-top:4rem">
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                {% if state == 'success' %}
                                注册成功！
                                {% elif state == 'repeat_error' %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4>错误!</h4>密码重复错误
                                </div>
                                {% elif state == 'empty' %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4>错误!</h4>有未填写项，请重新检查
                                </div>
                                {% elif state == 'user_exist' %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4>错误!</h4>用户已经存在
                                </div>
                                {% elif state == 'email_exist' %}
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <h4>错误!</h4>邮箱已经存在
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <form class="m-login__form m-form" action="/auth/register/" method="POST">
                            {% csrf_token %}
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="{{username}}" name="username" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="email" placeholder="{{email}}" name="email" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="password" placeholder="{{password}}" name="password">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="repeat_password" placeholder="{{repeat_password}}" name="password">
                            </div>
                            <div class="row m-login__form-sub">
                                <div class="col m--align-left m-login__form-left">
                                    注册即代表同意<a href="">服务条款</a>，以及保证所录入信息的真实性，如有不实信息会导致账号被删除。
                                </div>
                            </div>
                            <div class="m-login__form-action">
                                <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                    注册
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="m-login__account">
                        <span class="m-login__account-msg">
                            已有账户？
                        </span>
                        &nbsp;&nbsp;
                        <a href="/auth/login" id="m_login_signup" class="m-link m-link--light m-login__account-link">
                            登录
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!--begin::Base Scripts -->
    <script src="{% static 'js/vendors.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.bundle.js' %}" type="text/javascript"></script>
    <!--end::Base Scripts -->
</body>
<!-- end::Body -->

</html>