{% extends "base_generic.html" %} {% block body %}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                开始打印
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-4" style="height:auto">
            <div class="m-portlet m-portlet--full-height   m-portlet--rounded" style="height:auto">
                <div class="m-portlet__body">
                    <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                        <li class="m-nav__item">
                            <a href="/user/print/new" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                <span class="m-nav__link-title">
                                    <span clae3[                                                                                                                                                                                                                               ss="m-nav__link-wrap">
                                        <span class="m-nav__link-text">
                                            创建任务
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="/user/print/activity" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
                                    历史订单
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs   m-portlet--rounded" style="height:auto">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#mode_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    快速打印
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#mode_2" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    高级模式
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="mode_1">
                        <form enctype="multipart/form-data" class="m-form m-form--fit m-form--label-align-right" action="/user/print/new" method="POST">
                            {% csrf_token %}
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        上传文件
                                    </label>
                                    <div class="col-7">
                                        <!-- <input class="form-control m-input" value="¥{{user.balance}}" type="text" disabled> -->
                                        {{form.upload}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        打印机
                                    </label>
                                    <div class="col-7">
                                        <!-- <input class="form-control m-input" value="¥{{order.cost}}" type="text" disabled> -->
                                        {{form.pid}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        双面打印
                                    </label>
                                    <div class="col-7">
                                        {{form.sided}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        份数
                                    </label>
                                    <div class="col-7">
                                        {{form.copies}}
                                    </div>
                                </div>
                            </div>                        
                            {{ form.number_up }}
                            {{ form.number_up_layout }}
                            {{ form.media }}
                            {{ form.page_range }}
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                提交
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="mode_2">
                        <form enctype="multipart/form-data" class="m-form m-form--fit m-form--label-align-right" action="/user/print/new" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="advanced" value="true">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        上传文件
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.upload}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        打印机
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.pid}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        双面打印
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.sided}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        每张页数
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.number_up}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        布局
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.number_up_layout}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        介质
                                    </label>
                                    <div class="col-7">
                                         {{advanced_form.media}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        页面范围
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.page_range}}
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        份数
                                    </label>
                                    <div class="col-7">
                                        {{advanced_form.copies}}
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                提交
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}