{% extends "base_generic.html" %} {% block body %}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                收银台
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--full-height   m-portlet--rounded">
                <div class="m-portlet__body">
                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        订单号
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{print_job.order.orderid}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        打印机
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{printer}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        文件名
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{print_job.upload.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        是否双边打印
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{sided}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        份数
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{print_job.copies}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        共计张数
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{print_job.print_pages}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        创建时间
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{print_job.order.created_time}}                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        应付金额
                                    </h3>
                                    <span class="m-widget1__desc">
                                        小部分情况下实付金额可能会有 0.01 至 0.02 元的差距。
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        {{print_job.cost}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs   m-portlet--rounded" style="height:auto">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#payment_2" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    微信支付
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#payment_3" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    支付宝支付
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="payment_2">
                        <form class="m-form m-form--fit m-form--label-align-right" action="https://pay.paysapi.com/" method="POST">
                            <input type="hidden" name="uid" value="{{paysAPIWeChat.uid}}">
                            <input type="hidden" name="price" value="{{paysAPIWeChat.price}}">
                            <input type="hidden" name="istype" value="{{paysAPIWeChat.istype}}">
                            <input type="hidden" name="notify_url" value="{{paysAPIWeChat.NOTIFY_URL}}">
                            <input type="hidden" name="return_url" value="{{paysAPIWeChat.RETURN_URL}}">
                            <input type="hidden" name="orderid" value="{{paysAPIWeChat.orderid}}">
                            <input type="hidden" name="orderuid" value="{{paysAPIWeChat.orderuid}}">
                            <input type="hidden" name="key" value="{{paysAPIWeChat.key}}">
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                            <p>点击下面按钮后按提示操作。</p>
                                        </div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                跳转微信支付
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="payment_3">
                        <form class="m-form m-form--fit m-form--label-align-right" action="https://pay.paysapi.com/" method="POST">
                            <input type="hidden" name="uid" value="{{paysAPIAli.uid}}">
                            <input type="hidden" name="price" value="{{paysAPIAli.price}}">
                            <input type="hidden" name="istype" value="{{paysAPIAli.istype}}">
                            <input type="hidden" name="notify_url" value="{{paysAPIAli.NOTIFY_URL}}">
                            <input type="hidden" name="return_url" value="{{paysAPIAli.RETURN_URL}}">
                            <input type="hidden" name="orderid" value="{{paysAPIAli.orderid}}">
                            <input type="hidden" name="orderuid" value="{{paysAPIAli.orderuid}}">
                            <input type="hidden" name="key" value="{{paysAPIAli.key}}">
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                            <p>点击下面按钮后按提示操作。</p>
                                        </div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                跳转支付宝支付
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}