<!DOCTYPE html>
<html lang="zh-Hans">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.cat.net/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link href="https://fonts.cat.net/css?family=Exo+2:400,900i" rel="stylesheet">
    <style>
        #logo_text:hover {
            text-decoration: none
        }

        #logo_text {
            font-family: 'Exo 2', sans-serif;
            color: rgb(245, 245, 245);
            font-size: xx-large;
            font-style: italic;
        }
    </style>
    <script>
        WebFont.load({
            google: { "families": ["Montserrat:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    {% load static %}
    <link href="{% static 'css/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors -->
    <link href="{% static 'css/vendors.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="{% static '/media/img/logo/favicon.ico' %}" />
</head>
<!-- end::Head -->
<!-- begin::Body -->

<body style="background-image: url({% static '/app/media/img/bg/bg-1.jpg' %})" class="m-page--boxed m-body--fixed m-header--static m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- begin::Header -->
        <header class="m-grid__item	m-grid m-grid--desktop m-grid--hor-desktop  m-header ">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--hor-desktop m-container m-container--responsive m-container--xxl">
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-header__wrapper">
                    <!-- begin::Brand -->
                    <div class="m-grid__item m-brand">
                        <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="/user/" class="m-brand__logo-wrapper" id="logo_text">
                                    IAAP
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                <!-- begin::Responsive Header Menu Toggler-->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- end::Responsive Header Menu Toggler-->
                                <!-- begin::Topbar Toggler-->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>
                                <!--end::Topbar Toggler-->
                            </div>
                        </div>
                    </div>
                    <!-- end::Brand -->
                    <!-- begin::Topbar -->
                    <!-- end::Topbar -->
                </div>
            </div>
        </header>
        <!-- end::Header -->
        <!-- begin::horizontal_nav -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
                <div class="m-grid__item m-body__nav">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                                <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                    <li class="m-menu__item {% if active_nav == 'printjobs' %}m-menu__item--active{% endif%} m-menu__item--submenu m-menu__item--rel"
                                        data-menu-submenu-toggle="click" aria-haspopup="true">
                                        <a href="/user/print" class="m-menu__link">
                                            <span class="m-menu__item-here"></span>
                                            <span class="m-menu__link-text">
                                                打印任务
                                            </span>
                                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end::Horizontal Menu -->
                    </div>
                    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    </div>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            <!-- begin::Footer -->
            <footer class="m-grid__item		m-footer ">
                <div class="m-container m-container--responsive m-container--xxl">
                    <div class="m-footer__wrapper">
                        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                                <span class="m-footer__copyright">
                                    2017 ©
                                    <a href="https://github.com/KennardZhang/iaap" class="m-link">IAAP</a> made by
                                    <a href="#" class="m-link">Kennard Zhang</a>
                                </span>
                            </div>
                            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                                <ul class="m-footer__nav m-nav m-nav--skin-dark m-nav--inline m--pull-right">
                                    <li class="m-nav__item">
                                        <a href="/about" class="m-nav__link">
                                            <span class="m-nav__link-text">
                                                关于
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="/privacy" class="m-nav__link">
                                            <span class="m-nav__link-text">
                                                Privacy
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item m-nav__item--last">
                                        <a href="/user/FAQ" class="m-nav__link" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="FAQ">
                                            <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end:: Page -->
        <!-- begin::Scroll Top -->
        <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
            <i class="la la-arrow-up"></i>
        </div>
        <!-- end::Scroll Top -->
        <!--begin::Base Scripts -->
        <script src="{% static 'js/vendors.bundle.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/scripts.bundle.js' %}" type="text/javascript"></script>
        <!--end::Base Scripts -->
        <!--begin::Page Vendors -->
        <script src="{% static 'js/fullcalendar.bundle.js' %}" type="text/javascript"></script>
        <!--end::Page Vendors -->
        <!--begin::Page Snippets -->
        <script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
        <!--end::Page Snippets -->
</body>
<!-- end::Body -->

</html>