<!DOCTYPE html>
<html lang="zh-Hans">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="2;url={{redirect_url}}">
    <title>
        IAAP | 跳转页
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    {% load static %}
    <link href="{% static 'css/vendors.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="{% static 'assets/demo/default/media/img/logo/favicon.ico' %}" />
    <style>
        #logo_text:hover {
            text-decoration: none
        }

        #logo_text {
            font-family: 'Exo 2', sans-serif;
            color: rgb(37, 37, 37);
            font-size: xx-large;
            font-style: italic;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,900i" rel="stylesheet">
</head>
<!-- end::Head -->
<!-- end::Body -->

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login"
            style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#" id="logo_text">
                            IAAP
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="alert">
                            <h4>{{title}}</h4>
                            <p>{{state}}</p>
                            <p><a href="{{redirect_url}}">如果浏览器未能自动跳转，请点击此链接。</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!--begin::Base Scripts -->
    <script src="{% static 'js/vendors.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/scripts.bundle.js' %}" type="text/javascript"></script>
    <!--end::Base Scripts -->
</body>
<!-- end::Body -->

</html>