{% extends "base_generic.html" %} {% block body %}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                账户充值
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--full-height   m-portlet--rounded">
                <div class="m-portlet__body">
                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        用户名
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{user.username}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        账户余额
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        {{user.profile.balance}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        还能打印
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        {{available_pages}} 张
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs   m-portlet--rounded" style="height:auto">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#payment_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    兑换码充值
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#payment_2" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    在线支付
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="payment_1">
                        <form class="m-form m-form--fit m-form--label-align-right" action="/user/balance/recharge/return" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="orderid" value="{{print_job.order.orderid}}">
                            <input type="hidden" name="verify" value="{{print_job.verify}}">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        账户余额
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" value="¥{{user.profile.balance}}" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        扣款金额
                                    </label>
                                    <div class="col-7">
                                        <input class="form-control m-input" value="¥{{print_job.cost}}" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                充值
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="payment_2">
                        <form class="m-form m-form--fit m-form--label-align-right" action="https://pay.paysapi.com/" method="POST">
                            <div class="m-portlet__body">
                                <input type="hidden" name="uid" value="{{paysAPIWeChat.uid}}">
                                <label for="example-text-input" class="col-2 col-form-label">
                                    充值金额
                                </label>
                                <input class="form-control m-input"name="price">
                                <input type="hidden" name="istype" value="{{paysAPIWeChat.istype}}">
                                <input type="hidden" name="notify_url" value="{{paysAPIWeChat.NOTIFY_URL}}">
                                <input type="hidden" name="return_url" value="{{paysAPIWeChat.RETURN_URL}}">
                                <input type="hidden" name="orderid" value="{{paysAPIWeChat.orderid}}">
                                <input type="hidden" name="orderuid" value="{{paysAPIWeChat.orderuid}}">
                                <input type="hidden" name="key" value="{{paysAPIWeChat.key}}">
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                跳转支付
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="payment_3">
                        <form class="m-form m-form--fit m-form--label-align-right" action="https://pay.paysapi.com/" method="POST">
                            <div class="m-portlet__body">
                                <input type="hidden" name="uid" value="{{paysAPIAli.uid}}">
                                <label for="example-text-input" class="col-2 col-form-label">
                                    充值金额
                                </label>
                                <input class="form-control m-input" name="price">
                                <input type="hidden" name="istype" value="{{paysAPIAli.istype}}">
                                <input type="hidden" name="notify_url" value="{{paysAPIAli.NOTIFY_URL}}">
                                <input type="hidden" name="return_url" value="{{paysAPIAli.RETURN_URL}}">
                                <input type="hidden" name="orderid" value="{{paysAPIAli.orderid}}">
                                <input type="hidden" name="orderuid" value="{{paysAPIAli.orderuid}}">
                                <input type="hidden" name="key" value="{{paysAPIAli.key}}">
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="sumbit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                跳转支付
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}